
{% extends 'base.twig' %}
{% block main %}

<div class="grid">
    <article>
        <h2>Discover the {{dino.name}}</h2>

        <div class="description">
            {{dino.description}}
        </div>

        <div class="card">
            <img src="{{dino.avatar}}" alt="avatar du dino" />
            <dl>
                <dt>Name</dt>
                <dd>{{dino.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dino.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dino.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dino.Height}}</dd>
                <dt>Length</dt>
                <dd>{{dino.length}}</dd>
                <dt>Weight</dt>
                <dd>{{dino.weight}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for ran in rands %}
            <a href="/dinosaurs/{{ran.slug}}">
                <figure>
                    <img src="{{ran.avatar}}" alt="avatar du dino" />
                    <figcaption>Discover the {{ran.name}}</figcaption>
                </figure>
        {% endfor %}
            </a>
    </aside>
</div>
{% endblock %}